
*, *::before, *::after {
    box-sizing: border-box; /* Лучшая практика для макетов */
}

body {
    background-color: #f8f8f8;
    color: #333;
    font-family: Lato, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none; 
}

input, button {
    outline: none;
    font-family: Lato, sans-serif; 
}

.matrix-info-header { 
    width: 500px;
    margin: 0 auto;
    display: block;
    text-align: right;
}

.matrix-info-header img {
    max-width: 100%; 
    height: auto;
}

.matrix-info__link { 
    font-family: fantasy, cursive;
}

.todo-app-container { 
    display: block;
    width: 500px;
    margin: 0 auto;
}

.add-task-section label {
    display: block;
    margin: 0 0 20px;
}

.task-input-wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.task-input { 
    flex-grow: 1; 
    margin: 0;
}

input[type="text"] {
    font-size: 18px;
    line-height: 18px;
    height: 21px;
    padding: 0 9px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    color: #888;
}

input[type="text"]:focus {
    color: #333;
}

button {
    background: none;
    border: 0;
    color: #888;
    font-size: 15px;
    width: 60px;
    cursor: pointer;
    padding: 0;
}

button:hover {
    color: #3a3a3a;
}

#incomplete-tasks-list li,
#completed-tasks-list li {
    overflow: hidden;
    padding: 20px 0;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-label { 
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 226px;
}

.task-text-input { 
    width: 226px;
}

#completed-tasks-list .task-label {
    text-decoration: line-through;
    color: #888;
}

.delete-btn img {
    height: 2em;
    transform: rotateZ(45deg);
    transition: transform 200ms ease-in;
}

.delete-btn img:hover {
    transform: rotateZ(0);
}

h3,
label[for='new-task-input'] { 
    color: #333;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 2px solid #333;
    padding: 30px 0 10px;
    margin: 0;
    text-transform: uppercase;
}

.task-list__item--edit-mode .task-text-input { 
    display: inline-block;
    width: 224px;
}

.task-list__item--edit-mode .task-label {
    display: none;
}

li .task-text-input {
    display: none;
}

@media (max-width: 768px) {
    .matrix-info-header { 
        width: 90%; 
        text-align: center;
    }
    .todo-app-container {
        width: 90%; 
    }
    .task-label,
    .task-text-input {
        width: 100%; 
        margin-bottom: 5px;
    }
    li {
        flex-wrap: wrap;
    }
}